<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-9">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=9; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>商家入驻申请</title>
    <link rel="icon" href="img/favicon.ico">
    <!-- load css start -->
    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-register.css"/>
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="plugins/icheck/css/green.css">
    <!-- load css end -->
</head>

<body ng-app="mall" ng-controller="sellerController" ng-cloak>
<!--head-->
<div class="container">
    <div class="logoArea"><a href="" class="logo"></a></div>
</div>

<!--register-->
<div class="row">
    <div class="container">
        <section class="content-header">
            <h3>商家入驻申请<small></small></h3>
            <ol class="breadcrumb">
                <li>我有账号，去<a href="shoplogin.html" target="_blank">登陆</a></li>
            </ol>
        </section>
        <section class="content-header registerArea"></section>

        <section class="content">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <!-- form start -->
                    <form class="form-horizontal" name="dataForm" ng-submit="add()" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : dataForm.sellerId.$invalid && dataForm.sellerId.$touched }">
                            <label for="sellerId" class="col-sm-3 control-label">登陆名（不可修改）<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="sellerId" name="sellerId"  placeholder="登陆名"
                                       ng-model="seller.sellerId" required ng-minlength="2" ng-maxlength="11">
                                <div class="help-block" ng-messages="dataForm.sellerId.$error" ng-if="dataForm.sellerId.$touched">
                                    <p ng-message="required">{{requiredMsg}}</p>
                                    <p ng-message="minlength">登陆名太短，长度最小为2</p>
                                    <p ng-message="maxlength">登陆名太长，长度最大为11</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : dataForm.password.$invalid && dataForm.password.$touched }">
                            <label for="password" class="col-sm-3 control-label">登陆密码<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" name="password" placeholder="登陆密码"
                                       ng-model="seller.password" required ng-pattern="validate.rules.password">
                                <div class="help-block" ng-messages="dataForm.password.$error" ng-if="dataForm.password.$touched">
                                    <p ng-message="required">{{requiredMsg}}</p>
                                    <p ng-message="pattern">{{validate.msg.password}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickName" class="col-sm-3 control-label">店铺名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nickName" placeholder="店铺名称" ng-model="seller.nickName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">公司名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" placeholder="公司名称" ng-model="seller.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="col-sm-3 control-label">公司电话</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="telephone" placeholder="公司电话" ng-model="seller.telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addressDetail" class="col-sm-3 control-label">公司详细地址</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="addressDetail" placeholder="公司详细地址" ng-model="seller.addressDetail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkmanName" class="col-sm-3 control-label">联系人姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="linkmanName" placeholder="联系人姓名" ng-model="seller.linkmanName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkmanQQ" class="col-sm-3 control-label">联系人QQ</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="linkmanQQ" placeholder="联系人QQ" ng-model="seller.linkmanQQ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkmanMobile" class="col-sm-3 control-label">联系人手机</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="linkmanMobile" placeholder="联系人手机" ng-model="seller.linkmanMobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkmanEmail" class="col-sm-3 control-label">联系人邮箱</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="linkmanEmail" placeholder="联系人邮箱" ng-model="seller.linkmanEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkmanNumber" class="col-sm-3 control-label">营业执照号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="linkmanNumber" placeholder="营业执照号" ng-model="seller.linkmanNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taxNumber" class="col-sm-3 control-label">税务登记证号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="taxNumber" placeholder="税务登记证号" ng-model="seller.taxNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orgNumber" class="col-sm-3 control-label">组织机构代码证</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="orgNumber" placeholder="组织机构代码证" ng-model="seller.orgNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="legalPerson" class="col-sm-3 control-label">法定代表人</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="legalPerson" placeholder="法定代表人" ng-model="seller.legalPerson">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="legalPersonCardId" class="col-sm-3 control-label">法定代表人身份证号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="legalPersonCardId" placeholder="法定代表人" ng-model="seller.legalPersonCardId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bankName" class="col-sm-3 control-label">开户行名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="bankName" placeholder="开户行名称" ng-model="seller.bankName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bankUser" class="col-sm-3 control-label">银行账号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="bankUser" placeholder="银行账号" ng-model="seller.bankUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="isAgree"><span>同意协议 <a href="sampling.html">《Mall商家入驻协议》</a></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="sui-btn btn-block btn-xlarge btn-danger" ng-disabled="dataForm.$invalid">申请入驻</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </section>

    </div>
</div>

<!--foot-->
<section class="content-header registerArea"></section>
<div class="row">
    <div class="copyright">
        <ul>
            <li>关于我们</li>
            <li>联系我们</li>
            <li>联系客服</li>
            <li>商家入驻</li>
            <li>营销中心</li>
            <li>手机Mall</li>
            <li>销售联盟</li>
            <li>Mall社区</li>
        </ul>
        <div class="">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：300-619-3000 传真：010-92935100</div>
        <div class="">京ICP备09001321号京公网安备110109007702
        </div>
    </div>
</div>


<!-- load script start -->
<script type="text/javascript" src="plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="plugins/angularjs/angular-messages.min.js"></script>
<script type="text/javascript" src="plugins/icheck/icheck.min.js"></script>
<script type="text/javascript" src="plugins/layer/layer.js"></script>
<!-- 分页组件js -->
<script type="text/javascript" src="plugins/angularjs/module/icheck.js">e</script>
<script type="text/javascript" src="js/common/base.js"></script>

<script type="text/javascript" src="js/service/sellerService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/sellerController.js"></script>
<!-- load script end -->
</body>

</html>