<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增商品</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/kindeditor/themes/default/default.css"/>

    <!-- load css end -->

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="mall" ng-controller="goodsController" ng-init="selectItemCatalogRootList()" ng-cloak>

<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">商品基本信息</a>
                </li>
                <li>
                    <a href="#pic_upload" data-toggle="tab">商品图片</a>
                </li>
                <li>
                    <a href="#customAttribute" data-toggle="tab">扩展属性</a>
                </li>
                <li>
                    <a href="#spec" data-toggle="tab">规格</a>
                </li>
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--表单内容-->
                <div class="tab-pane active" id="home">
                    <div class="row data-type">
                        <div class="col-md-2 title">商品分类</div>

                        <div class="col-md-10 data">
                            <table>
                                <tr>
                                    <div class="row">
                                        <div class="col-xs-3"><select class="form-control" ng-model="goodsGroup.goods.category1Id" ng-options="item.id as item.name for item in itemCatalogRootList"></select></div>
                                        <div class="col-xs-3"><select class="form-control" ng-model="goodsGroup.goods.category2Id" ng-options="item.id as item.name for item in itemCatalog2List"></select></div>
                                        <div class="col-xs-3"><select class="form-control" ng-model="goodsGroup.goods.category3Id" ng-options="item.id as item.name for item in itemCatalog3List"></select></div>
                                        <div class="col-xs-3"><p style="line-height: 2.5;">模板ID:{{goodsGroup.goods.typeTemplateId}}</p></div>
                                    </div>
                                </tr>
                            </table>

                        </div>


                        <div class="col-md-2 title">商品名称</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" placeholder="商品名称" ng-model="goodsGroup.goods.goodsName">
                        </div>

                        <div class="col-md-2 title">品牌</div>
                        <div class="col-md-10 data">
                            <select class="form-control" ng-model="goodsGroup.goods.brandId" ng-options="item.id as item.text for item in typeTemplate.brandIds"></select>
                        </div>

                        <div class="col-md-2 title">副标题</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" placeholder="副标题" ng-model="goodsGroup.goods.caption">
                        </div>

                        <div class="col-md-2 title">价格(元)</div>
                        <div class="col-md-10 data">
                            <div class="input-group">
                                <span class="input-group-addon">¥</span>
                                <input type="number" class="form-control" placeholder="价格" ng-model="goodsGroup.goods.price">
                            </div>
                        </div>

                        <div class="col-md-2 title editer">商品介绍</div>
                        <div class="col-md-10 data editer">
                            <textarea name="content" style="width:800px;height:400px;visibility:hidden;" ></textarea>
                        </div>

                        <div class="col-md-2 title rowHeight2x">包装列表</div>
                        <div class="col-md-10 data rowHeight2x">
                            <textarea rows="4" class="form-control" placeholder="包装列表" ng-model="goodsGroup.goodsDesc.packageList"></textarea>
                        </div>

                        <div class="col-md-2 title rowHeight2x">售后服务</div>
                        <div class="col-md-10 data rowHeight2x">
                            <textarea rows="4" class="form-control" placeholder="售后服务" ng-model="goodsGroup.goodsDesc.saleService"></textarea>
                        </div>


                    </div>
                </div>

                <!--图片上传-->
                <div class="tab-pane" id="pic_upload">
                    <div class="row data-type">
                        <!-- 颜色图片 -->
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" title="新建" data-target="#uploadModal"
                                            ng-click="img_entity={url:''}" data-toggle="modal"><i class="fa fa-file-o"></i> 新建
                                    </button>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="sorting">颜色</th>
                                <th class="sorting">图片</th>
                                <th class="text-center">操作</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pojo in goodsGroup.goodsDesc.itemImages">
                                    <td>{{pojo.color}}</td>
                                    <td><img alt="" ng-src="{{pojo.url}}" width="100px" height="100px"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editModal"
                                                ng-click="removeImgEntity($index)">删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <!--扩展属性-->
                <div class="tab-pane" id="customAttribute">
                    <div class="row data-type">
                        <div ng-repeat="pojo in goodsGroup.goodsDesc.customAttributeItems">
                            <div class="col-md-2 title">{{pojo.text}}</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="{{pojo.text}}" ng-model="pojo.value">
                            </div>
                        </div>
                    </div>
                </div>

                <!--规格-->
                <div class="tab-pane" id="spec">
                    <div class="row data-type">
                        <div class="col-md-2 title">是否启用规格</div>
                        <div class="col-md-10 data">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="option1" aria-label="..." ng-model="goodsGroup.goods.isEnableSpec" ng-true-value="1" ng-false-value="0">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-if="goodsGroup.goods.isEnableSpec==1">
                        <!-- 规格列表 -->
                        <div class="row data-type" ng-repeat="pojo in specListWithOptions">
                            <div>
                                <div class="col-md-2 title">{{pojo.text}}</div>
                                <div class="col-md-10 data" >
                                    <div class="checkbox">
                                        <label class="checkbox-inline" ng-repeat="option in pojo.options">
                                            <input type="checkbox" ng-click="updateSpecAttr($event,pojo.text,option.optionName);creatItemList();">{{option.optionName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SKU -->
                        <div class="row data-type" >
                            <table class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th class="sorting" ng-repeat="item in goodsGroup.goodsDesc.specificationItems">{{item.attributeName}}</th>
                                        <th class="sorting">价格</th>
                                        <th class="sorting">库存</th>
                                        <th class="sorting">是否启用</th>
                                        <th class="sorting">是否默认</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pojo in goodsGroup.itemList">
                                        <th class="sorting" ng-repeat="item in goodsGroup.goodsDesc.specificationItems">{{pojo.spec[item.attributeName]}}</th>
                                        <td><input class="form-control" placeholder="价格" ng-model="pojo.price"></td>
                                        <td><input class="form-control" placeholder="库存数量" ng-model="pojo.num"></td>
                                        <td>
                                            <div class="checkbox">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="pojo.status" placeholder="商品状态" ng-true-value="1" ng-false-value="2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="pojo.isDefault" placeholder="是否默认" ng-true-value="1" ng-false-value="0">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>
            <!--tab内容/-->

        </div>


    </div>

    <!--底部工具栏-->
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="add()"><i class="fa fa-save"></i>保存</button>
        <button class="btn btn-default">返回列表</button>
    </div>
    <!--底部工具栏/-->

</section>

<!-- 上传窗口 -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="">上传商品图片</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped">
                    <tr>
                        <td>颜色</td>
                        <td><input class="form-control" placeholder="颜色" ng-model="img_entity.color"></td>
                    </tr>
                    <tr>
                        <td>商品图片</td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <label for="file">文件输入</label>
                                        <input type="file" id="file"/>
                                        <button class="btn btn-primary" type="button" style="margin-top: 5px" ng-click="uploadFile()">上传</button>
                                    </td>
                                    <td>
                                        <div ng-if="img_entity.url!==''">
                                            <img ng-src="{{img_entity.url}}" width="200px" height="200px">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="addImgEntity()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 自定义规格窗口 -->
<div class="modal fade" id="mySpecModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">自定义规格</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped">
                    <tr>
                        <td>规格名称</td>
                        <td><input class="form-control" placeholder="规格名称"></td>
                    </tr>
                    <tr>
                        <td>规格选项(用逗号分隔)</td>
                        <td>
                            <input class="form-control" placeholder="规格选项">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 正文区域 /-->

<!-- load script start -->
<script type="text/javascript" src="../plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular-messages.min.js"></script>
<script type="text/javascript" src="../plugins/layer/layer.js"></script>

<!-- 富文本编辑器 -->
<script charset="utf-8" src="../plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../plugins/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    let editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager: true
        });
    });
</script>

<script type="text/javascript" src="../js/common/base_tips.js"></script>
<script type="text/javascript" src="../js/common/base.js"></script>
<script type="text/javascript" src="../js/service/goodsService.js"></script>
<script type="text/javascript" src="../js/service/uploadService.js"></script>
<script type="text/javascript" src="../js/service/itemCatalogService.js"></script>
<script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
<script type="text/javascript" src="../js/controller/baseController.js"></script>
<script type="text/javascript" src="../js/controller/goodsController.js"></script>
<!-- load script end -->

</body>

</html>