<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- load css start -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 分页组件css -->
    <link rel="stylesheet" href="../plugins/angularjs/module/pagination.css">
    <link rel="stylesheet" href="../plugins/icheck/css/green.css">
    <!-- load css end -->

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">商品审核</h3>
</div>

<div class="box-body" ng-app="mall" ng-controller="goodsController" ng-init="findItemCatalogList();searchEntity={auditStatus:'0'}"  ng-cloak >

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="删除" ng-click="delete()"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="审核通过" ng-click="updateStatus(1)"><i class="fa fa-check"></i> 审核通过</button>
                    <button type="button" class="btn btn-default" title="驳回" ng-click="updateStatus(2)"><i class="fa fa-ban"></i> 驳回</button>
                    <button type="button" class="btn btn-default" title="关闭" ng-click="updateStatus(3)"><i class="fa fa-ban"></i> 关闭</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload()"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <form class="form-inline">
                <select class="form-control" ng-model="searchEntity.auditStatus" >
                    <option value="">=商品状态=</option>
                    <option value="0">未审核</option>
                    <option value="1">已审核</option>
                    <option value="2">审核未通过</option>
                    <option value="3">已关闭</option>
                </select>
                <input ng-model="searchEntity.goodsName" class="form-control" placeholder="商品名称">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </form>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input type="checkbox" ng-model="isSelectAll" ng-icheck/>
                </th>
                <th class="sorting_asc">商品ID</th>
                <th class="sorting">商品名称</th>
                <th class="sorting">商品价格</th>
                <th class="sorting">一级分类</th>
                <th class="sorting">二级分类</th>
                <th class="sorting">三级分类</th>
                <th class="sorting">状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="goods in list">
                <td><input type="checkbox" ng-model="goods.isSelect" ng-icheck/></td>
                <td>{{goods.id}}</td>
                <td>{{goods.goodsName}}</td>
                <td>{{goods.price}}</td>
                <td>{{itemCatalogList[goods.category1Id]}}</td>
                <td>{{itemCatalogList[goods.category2Id]}}</td>
                <td>{{itemCatalogList[goods.category3Id]}}</td>
                <td>{{status[goods.auditStatus]}}</td>
                <td class="text-center">
                    <button class="btn bg-olive btn-xs" ng-click="view(goods.id)">详情</button>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->

        <!-- 分页组件 -->
        <tm-pagination conf="paginationConf"></tm-pagination>


    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

<!-- load script start -->
<script type="text/javascript" src="../plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular-messages.min.js"></script>
<script type="text/javascript" src="../plugins/icheck/icheck.min.js"></script>
<script type="text/javascript" src="../plugins/layer/layer.js"></script>

<!-- 分页组件js -->
<script type="text/javascript" src="../plugins/angularjs/module/pagination.js"></script>
<script type="text/javascript" src="../plugins/angularjs/module/icheck.js"></script>

<script type="text/javascript" src="../js/common/base_tips.js"></script>
<script type="text/javascript" src="../js/common/base_pagination.js"></script>
<script type="text/javascript" src="../js/service/goodsService.js"></script>
<script type="text/javascript" src="../js/service/itemCatalogService.js"></script>
<script type="text/javascript" src="../js/service/brandService.js"></script>
<script type="text/javascript" src="../js/controller/baseController.js"></script>
<script type="text/javascript" src="../js/controller/goodsController.js"></script>
<!-- load script end -->

</body>

</html>