<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>规格管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- load css start -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 分页组件css -->
    <link rel="stylesheet" href="../plugins/angularjs/module/pagination.css">
    <link rel="stylesheet" href="../plugins/iCheck/css/green.css">
    <!-- load css end -->

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="mall" ng-controller="specificationController" ng-cloak>
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">规格管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal"><i class="fa fa-file-o" ng-click="specificationGroup ={specificationOptionList:[]};"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="delete()"><i class="fa fa-trash-o"></i> 删除</button>

                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <form class="form-inline">
                <input ng-model="searchEntity.specName" class="form-control" placeholder="规格名称">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </form>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input type="checkbox" ng-model="isSelectAll" ng-icheck/>
                </th>
                <th class="sorting_asc">规格ID</th>
                <th class="sorting">规格名称</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="specificationGroup in list">
                <td><input type="checkbox" ng-model="specificationGroup.isSelect" ng-icheck/></td>
                <td>{{specificationGroup.id}}</td>
                <td>{{specificationGroup.specName}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="findOne(specificationGroup.id)" >修改
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->

    <!-- 分页组件 -->
    <tm-pagination conf="paginationConf"></tm-pagination>

</div>
<!-- /.box-body -->


<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">规格编辑</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>规格名称</td>
                        <td><input class="form-control" placeholder="规格名称" ng-model="specificationGroup.specification.specName"></td>
                    </tr>
                </table>

                <!-- 规格选项 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="addTableRow()"></i> 新增规格选项
                    </button>
                </div>

                <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="sorting">规格选项</th>
                        <th class="sorting">排序</th>
                        <th class="sorting">操作</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in specificationGroup.specificationOptionList">
                        <td><input class="form-control" placeholder="规格选项" ng-model="entity.OptionName"></td>
                        <td><input class="form-control" placeholder="排序" ng-model="entity.orders"></td>
                        <td>
                            <button type="button" class="btn btn-default" title="删除" ng-click="delTableRow($index)" ><i class="fa fa-trash-o"></i> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- load script start -->
<script type="text/javascript" src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="../plugins/angularjs/angular-messages.min.js"></script>
<script type="text/javascript" src="../plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../plugins/layer/layer.js"></script>
<!-- 分页组件js -->
<script type="text/javascript" src="../plugins/angularjs/module/pagination.js"></script>
<script type="text/javascript" src="../plugins/angularjs/module/icheck.js"></script>
<script type="text/javascript" src="../js/common/base_tips.js"></script>
<script type="text/javascript" src="../js/common/base_pagination.js"></script>

<script type="text/javascript" src="../js/service/specificationService.js"></script>
<script type="text/javascript" src="../js/controller/baseController.js"></script>
<script type="text/javascript" src="../js/controller/specificationController.js"></script>
<!-- load script end -->

</body>

</html>